body {
    background-color: #000;
    background-image: url('../img/background.jpg');
    background-size: cover;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
}

body > * {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.main {
    overflow-y: scroll;
    overflow-x: hidden;
}

.backgrounds {
    position: absolute;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 10s;
    opacity: .2;
}

.background.active {
    opacity: .7;
}

.card {
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    padding: 2em;
    width: min-content;
    gap: 1em;
    background-color: transparent;
    transition: all 1s;
}

.card i {
    color: #fff;
}

.card .photo img {
    width: 122px;
    border-radius: 100%;
    border: 3px solid #fff;
}

.card .name {
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
}

.card .contact {
    display: flex;
    flex-direction: column;
    gap: .5em;
    white-space: nowrap;
    font-size: .8em;
    color: #aaa;
}

.card .contact i {
    margin: 0 .5em;
}

.card .contact a {
    text-decoration: none;
    color: #aaa;
}

.card .contact .email:hover {
    text-decoration: underline;
}

.card .description {
    font-weight: 600;
}

.card .links {
    gap: 1em;
    font-size: 1.2em;
}

.card .links .link {
    transition: all .5s;
    border: 1px solid transparent;
    border-radius: .3em;
}

.card .links .link i {
    padding: .2em;
}

.card .links .link:hover {
    border: 1px solid #fff;
}
