* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    /* background-image: url('../img/background.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
}

body > * {
    width: 100%;
    height: 100%;
}

.background {
    background-color: #000;
    background-image: url('../img/space-background.webp');
}

.background, .background > * {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.sky {
    background-image: url('../img/sky.webp');
}

.ground {
    background-image: url('../img/ground.webp');
}

.ground-mask {
    background-image: url('../img/ground-mask-2.webp');
}

.river-mask {
    background-image: url('../img/river-mask.webp');
    opacity: .7;
}

[data-bg] {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 10s;
    opacity: .2;
}

[data-bg].active {
    opacity: .7;
}

.main {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main > .row {
    height: 100%;
}

.card {
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    padding: 2rem;
    width: fit-content;
    min-width: 25%;
    max-width: 576px;
    gap: 1rem;
    background-color: rgba(0, 0, 0, .3);
    transition: all 1s;
    margin: 0 auto;
}

.card i {
    color: #fff;
}

.card .photo img {
    width: 122px;
    border-radius: 100%;
    border: 3px solid #fff;
}

.card .name {
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
}

.card .contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    white-space: nowrap;
    font-size: .8rem;
    color: #ccc;
}

.card .contact i {
    margin: 0 .5rem;
}

.card .contact a {
    text-decoration: none;
    color: #ccc;
}

.card .contact .email:hover {
    text-decoration: underline;
}

.card .description {
    font-weight: 600;
}

.card .links {
    gap: 1rem;
    font-size: 1.2rem;
}

.card .links .link {
    transition: all .5s;
    border: 1px solid transparent;
    border-radius: .3rem;
}

.card .links .link i {
    padding: .2rem;
}

.card .links .link:hover {
    border: 1px solid #fff;
}

.links .link a {
    white-space: nowrap;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    padding: .05rem 1rem;
    border-radius: var(--bs-border-radius) 0 0 0;
    font-size: .8rem;
}

footer a {
    color: #fff;
}
