#timeline {
    position: relative;
    gap: 1rem;
}

.event {
    gap: 1rem;
}

.event-circle {
    font-size: 1.5rem;
}

#timeline .line {
    position: absolute;
    left: calc((1.5rem - .5rem) / 2);
    width: .5rem;
    height: 100%;
    background: #fff;
    border-radius: 3px;
}

.card {
    text-align: start;
}

.card i.icon {
    margin: 0 .3rem;
}

.card .name {
    font-size: 1.2rem;
    white-space: initial;
}

.card .date-location {
    font-size: .8rem;
    color: #ccc;
}

.card .description {
    font-weight: initial;
    font-size: .9rem;
}

.card .badges {
    gap: .3rem;
}

.event-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
